body { margin: 0; }
    canvas { display: block; }
    .checkbox-section {
      align-items: left;
      gap: 1px;
    }

    #controls {
      position: absolute;
      top: 10px;
      left: 10px;
      background: #f0f0f0;
      padding: 5px;
      width: 150px;
      align-items: center;
    }

    #myCheckbox {
      position: relative;
      
    }
    
    .number-limit input {
      left: 70px;
      width: 30px;
    }
    button {
      padding: 5px 10px;
      border-width: 1px;
      width: 100%;
      background-color: azure;
      cursor: pointer;
      margin: 10px 10px 10px 0;
    }
    label, a{
      padding: 5px 5px;
    }